{% load static %}

<footer class="footer">
    <div class="container">
      <div class="footer-top section" data-reveal>
        <div class="newsletter-card">
          <div class="card-icon">
            <ion-icon name="mail-unread-outline" aria-hidden="true"></ion-icon>
          </div>

          <h3 class="h3 card-title">Sign up for Electric Car,news & inslights</h3>

          <form action="#" class="newsletter-form">
            <label for="email" class="label">Email address</label>

            <input type="emal" name="email" id="email" placeholder="Email address" required class="email-field" />

            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>

        <div class="footer-list">
          <p class="h6 has-after">Volti WP Theme</p>

          <p class="footer-text">
            A leading developer of A-grade commercial, electric car and bike projects in USA.
            Since its foundation the company has doubled its turnover year on year, with its staff
            numbers.
          </p>

          <a href="#" class="btn-outline">
            <span class="span">Get a quote</span>

            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
          </a>
        </div>

        <ul class="footer-list">
          <li>
            <p class="h6 has-after">Company Info</p>
          </li>

          <li>
            <a href="{% url 'about' %}" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="{% url 'projects' %}" class="footer-link">Our Projects</a>
          </li>

          <li>
            <a href="{% url 'team' %}" class="footer-link">Meet Our Team</a>
          </li>

          <li>
            <a href="{% url 'news' %}" class="footer-link">News & Media</a>
          </li>

          <li>
            <a href="{% url 'contactus' %}" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="{% url 'carieers' %}" class="footer-link">Careers</a>
          </li>
        </ul>

        <ul class="footer-list">
          <li>
            <p class="h6 has-after">Quick Contact</p>
          </li>

          <li>
            <address class="footer-text">
              2307 Beverley Rd Brooklyn, New York 11226 United States.
            </address>
          </li>

          <li>
            <p class="footer-text">
              If you have any questions or need help, feel free to contact with our team.
            </p>
          </li>

          <li>
            <a href="tel:00201061245741" class="contact-link">{{ contact_information.hot_line }}</a>
          </li>
        </ul>
      </div>

      <div class="footer-bottom">
        <div>
          <ul class="footer-bottom-list">
            <li>
              <a href="#" class="footer-bottom-link">Where to Find Us</a>
            </li>

            <li>
              <a href="#" class="footer-bottom-link">Terms of Payment</a>
            </li>

            <li>
              <a href="#" class="footer-bottom-link">Stats Element</a>
            </li>
          </ul>

          <div>
            <p class="copyright" style="display: flex;"><a href="https://github.com/ayshenm">Made with<ion-icon name="heart-outline"></ion-icon> John Doe</a></p>
          </div>
        </div>

        <img src="{% static 'images/footer-logo.svg' %}" width="100" height="63" loading="lazy" alt="Volti home" />

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin" aria-hidden="true"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>