{% load static %}

<header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'images/logo.svg' %}" width="160" height="50" alt="volti home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'index' %}" class="navbar-link">Home</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'service' %}" class="navbar-link">Services</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'gallery' %}" class="navbar-link">Gallery</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'blog' %}" class="navbar-link">Blog</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'contactus' %}" class="navbar-link">Contact Us</a>
          </li>

        </ul>
      </nav>

      <div class="header-action">

        <a href="tel:+12312345678901" class="contact-number">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

          <span class="span">+(123) 1234-567-8901</span>
        </a>

        <a href="#" class="btn btn-primary">
          <span class="span">Get a quote</span>

          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </a>

      </div>

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true" class="open"></ion-icon>
        <ion-icon name="close-outline" aria-hidden="true" class="close"></ion-icon>
      </button>

    </div>
  </header>