{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Volti - Book Your Eco-Friendly Ride</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />

  <link rel="stylesheet" href="{% static 'styles/font.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/service.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/cariers.css' %}" />
</head>

<body>
  <!-- 
    - #PRELOADER
  -->

  {% include 'template/preloader.html' %}

  <!-- 
    - #HEADER
  -->

  {% include 'template/header.html' %}

  <!-- <div class="about-content-static" data-reveal="right">
      <p class="section-subtitle has-before" id="service-label" data-reveal>What We Do!</p>

      <h2 class="h2 section-title" data-reveal>About</h2>
    </div> -->

  <main>
    <section class="carier-section">
      <div class="container">
        <div class="row clearfix row-query">

          <div class="blog-card">

            <figure class="card-banner img-holder" style="height: 300px; width: 570px;">
              <img src="{% static 'images/blog-1.jpg' %}" width="770" height="550" loading="lazy"
                   alt="Energy Star Certified Electric Vehicle Chargers" class="img-cover">
            </figure>
          </div>
          <div class="content-column">
            <div class="inner-column">
              <h3>Phone Operator</h3><br />
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, numquam placeat nostrum beatae eligendi
                suscipit sequi veritatis error ex architecto, inventore, dignissimos tempore quas at? Minus aliquam
                ipsum
                quasi
                esse, tenetur vero quos repellat corrupti cumque eligendi culpa aspernatur nesciunt nam repudiandae
                illo!
                Sit
                iste quis voluptatem distinctio eligendi odit?</p>
              <ul class="contact-listt">
                <li>
                  <div class="contact-card contact-cardd">
                    <div class="card-iconn">
                      <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                    </div>
                    <div>
                      <a href="tel:+01123457890" class="card-subtitlee">{{ contact_information.hot_line }}</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="contact-card contact-cardd">
                    <div class="card-iconn">
                      <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                    </div>

                    <div>
                      <a href="mailto:voltiinfo@gmail.com" class="card-subtitlee">voltiinfo@gmail.com</a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="contact-card contact-cardd">
                    <div class="card-iconn">
                      <ion-icon name="compass-outline" aria-hidden="true"></ion-icon>
                    </div>
                    <div>
                      <address class="card-subtitlee">101 Avenue, S.E. USA</address>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>



        </div>
      </div>
    </section>

    <!-- 
        - #CONTACT
      -->

    {% include 'template/contact.html' %}

  </main>


  <!-- 
    - #FOOTER
  -->

  {% include 'template/footer.html' %}

  <!-- 
    - #BACK TO TOP
  -->

  {% include 'template/top_btn.html' %}


    <!--
      - ionicon link
    -->
<script src="{% static 'scripts/main.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>