{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Volti - Book Your Eco-Friendly Ride</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />

  <link rel="stylesheet" href="{% static 'styles/font.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/service.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/team.css' %}" />
</head>

<body>
  <!-- 
    - #PRELOADER
  -->

  {% include 'template/preloader.html' %}

  <!-- 
    - #HEADER
  -->

  {% include 'template/header.html' %}

  <main>
    <div class="about-content-static" data-reveal="right">
      <p class="section-subtitle has-before" id="service-label" data-reveal>What We Do!</p>

      <h2 class="h2 section-title" data-reveal>
        Our Team
      </h2>
    </div>

    <section class="card__container">
      <div class="wrapper">
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="{% static 'images/05.png' %}" alt="Team_image">
            </div>
            <h3>Paul Doe</h3>
            <p class="role">CEO</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo
              distinctio quam blanditiis dignissimos.</p>
            <ul class="social social-list">
              <li><a href="" class="fa fa-facebook social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-twitter social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-instagram social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-linkedin social-link" aria-hidden="true"></a></li>
            </ul>
          </div>
          <div class="team_member">
            <div class="team_img">
              <img src="{% static 'images/04.png' %}" alt="Team_image">
            </div>
            <h3>Alex Wood</h3>
            <p class="role">Director</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            <ul class="social social-list">
              <li><a href="" class="fa fa-facebook social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-twitter social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-instagram social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-linkedin social-link" aria-hidden="true"></a></li>
            </ul>
          </div>
          <div class="team_member">
            <div class="team_img">
              <img src="{% static 'images/03.png' %}" alt="Team_image">
            </div>
            <h3>Rosie Meg</h3>
            <p class="role">Support Lead</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere
              dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            <ul class="social social-list">
              <li><a href="" class="fa fa-facebook social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-twitter social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-instagram social-link" aria-hidden="true"></a></li>
              <li><a href="" class="fa fa-linkedin social-link" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <!-- 
        - #CONTACT
      -->

    {% include 'template/contact.html' %}

  </main>


  <!-- 
    - #FOOTER
  -->

  {% include 'template/footer.html' %}

  <!-- 
    - #BACK TO TOP
  -->

  {% include 'template/top_btn.html' %}

  <script src="{% static 'scripts/main.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://kit.fontawesome.com/d5c98c56f9.js" crossorigin="anonymous"></script>
</body>

</html>